*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url('../../i.ibb.co/2y3znsF/bg.gif');
  background-position: center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}
#overlay-toggle {
  position:absolute;
  display: none;
}
.overlay {
  z-index: 1;
  background-color: black;
}
#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}

.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}
@media(hover: hover) {
  .hover {
    display: block;
  }
  .no-hover {
    display: none;
  }
}
@font-face {
  font-family: derk;
  src: url(derk.otf);
}
.text-content h1 {
  font-size: 4rem;
  font-weight: 800;
}
.bg-video {
  z-index: -1;
}
@keyframes fade{
  to {
    opacity: 0;
  }
}

.hover {
  display: none;
}
.no-hover {
  display: block;
}
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

audio { display: none; }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * + * {
  margin-top: 1rem;
}

img {
  max-width: 30rem;
  width: 100%;
  height: auto;
}

h1 {
  color: #ffe7bb;
  font-size: 0.8rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 480px) {
  ul {
    display: flex;
    flex-direction: row;
  }

  ul > * + * {
    margin-left: 0.5rem;
  }
}

li:nth-of-type(even) {
  display: none;
}

@media screen and (min-width: 480px) {
  li:nth-of-type(even) {
    display: block;
    color: #ffe7bb;
  }
}

li,
a,
button {
  color: #dde3ed;
  font-size: 0.8rem;
  font-weight: medium;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:visited {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}